<div class="container">
  <div class="site__entry">
    <h1 class="title-md">Text page template</h1>
    <div class="row">
      <div class="col-12 col-xl-10 col-xxl-9">
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius libero aspernatur impedit!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime necessitatibus doloremque placeat similique nihil, ratione tempore error modi? Maiores omnis quaerat totam tempora praesentium dolore dolores pariatur dolorum vero quos? Totam accusamus beatae, dicta consequuntur tenetur perferendis rem quas impedit at labore architecto dolor omnis soluta cum, praesentium alias odio commodi! Voluptatem nisi dolorem veniam cupiditate repellat perferendis dicta aliquam aspernatur nulla saepe provident atque voluptas amet pariatur doloribus, omnis libero quasi inventore sunt in recusandae! Quia non, autem minus quis itaque iure, unde nostrum id tempore sequi exercitationem, aliquid laborum. Minima ipsa eos vel rerum commodi, eligendi, dolore quae cupiditate dignissimos optio sed, ab quasi excepturi doloribus placeat hic laborum molestias cum! Odit obcaecati assumenda similique fugit saepe maxime.</p>
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore cupiditate eos inventore quia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nostrum iusto sint similique excepturi placeat, possimus laudantium aperiam nesciunt qui!</p>
        <ul>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum dolor.</li>
        </ul>
      </div>
    </div>
  </div>
</div>