.contact {
  padding-top: 30px;
  padding-bottom: 60px;

  &--main {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  &__title {
    margin-bottom: 40px;

    &--center {
      text-align: center;
    }
  }

  &__meta {
    margin-bottom: 40px;
  }

  &__items {
    margin-bottom: -20px;
  }

  &__item {
    position: relative;
    padding-left: 45px;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 35px;
      height: 35px;
      background-size: cover;
      transform: translateY(-50%);
    }

    &--adress {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='36' viewBox='0 0 35 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.3965 30.4329L17.5 30.5316L17.6035 30.4329C20.9154 27.2755 23.3856 24.374 25.0288 21.7514C26.6712 19.1299 27.4937 16.7767 27.4937 14.7188C27.4937 12.0682 26.4408 9.52629 24.5666 7.6521C22.6925 5.77791 20.1505 4.725 17.5 4.725C14.8495 4.725 12.3075 5.77791 10.4334 7.6521C8.55916 9.52629 7.50625 12.0682 7.50625 14.7188C7.50625 16.7767 8.32884 19.1299 9.97121 21.7514C11.6144 24.374 14.0846 27.2755 17.3965 30.4329ZM17.5 33.1097C13.5453 29.5045 10.5811 26.1724 8.60223 23.1138C6.60617 20.0287 5.61875 17.2314 5.61875 14.7188C5.61875 11.5676 6.87052 8.5456 9.09869 6.31744C11.3269 4.08927 14.3489 2.8375 17.5 2.8375C20.6511 2.8375 23.6731 4.08927 25.9013 6.31744C28.1295 8.5456 29.3813 11.5676 29.3813 14.7188C29.3813 17.2314 28.3938 20.0287 26.3978 23.1138C24.4189 26.1724 21.4547 29.5045 17.5 33.1097Z' fill='%23110E2C' stroke='white' stroke-width='0.3'/%3E%3Cpath d='M17.5 18.15C18.41 18.15 19.2828 17.7885 19.9263 17.145C20.5697 16.5015 20.9312 15.6288 20.9312 14.7188C20.9312 13.8087 20.5697 12.936 19.9263 12.2925C19.2828 11.649 18.41 11.2875 17.5 11.2875C16.59 11.2875 15.7172 11.649 15.0737 12.2925C14.4303 12.936 14.0687 13.8087 14.0687 14.7188C14.0687 15.6288 14.4303 16.5015 15.0737 17.145C15.7172 17.7885 16.59 18.15 17.5 18.15ZM17.5 20.0375C16.0894 20.0375 14.7365 19.4771 13.7391 18.4797C12.7416 17.4822 12.1813 16.1294 12.1813 14.7188C12.1813 13.3081 12.7416 11.9553 13.7391 10.9578C14.7365 9.96037 16.0894 9.4 17.5 9.4C18.9106 9.4 20.2635 9.96037 21.2609 10.9578C22.2584 11.9553 22.8188 13.3081 22.8188 14.7188C22.8188 16.1294 22.2584 17.4822 21.2609 18.4797C20.2635 19.4771 18.9106 20.0375 17.5 20.0375Z' fill='%23110E2C' stroke='white' stroke-width='0.3'/%3E%3C/svg%3E ");
      }
    }

    &--email {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.7158 12.0011L5.6375 11.9473V12.0423V25C5.6375 25.1846 5.78515 25.3357 5.96875 25.3357H29.0312C29.1194 25.3357 29.2037 25.3002 29.2658 25.2371C29.3278 25.1741 29.3625 25.0888 29.3625 25V12.0423V11.9473L29.2842 12.0011L18.5742 19.3531C17.9253 19.7985 17.0747 19.7985 16.4258 19.3531L5.7158 12.0011ZM5.6375 9.97371V10L5.6592 10.0149L17.3142 18.0149C17.3142 18.0149 17.3142 18.0149 17.3142 18.0149C17.369 18.0526 17.4337 18.0727 17.5 18.0727C17.5663 18.0727 17.631 18.0526 17.6858 18.0149C17.6858 18.0149 17.6858 18.0149 17.6858 18.0149L29.3408 10.0149L29.3625 10V9.97371V9C29.3625 8.91121 29.3278 8.82591 29.2658 8.76289C29.2037 8.69985 29.1194 8.66429 29.0312 8.66429H5.96875C5.88064 8.66429 5.7963 8.69985 5.73424 8.76289C5.67221 8.82591 5.6375 8.91121 5.6375 9V9.97371ZM5.96875 7.05H29.0312C30.0896 7.05 30.95 7.92287 30.95 9V25C30.95 25.5174 30.7477 26.0135 30.3877 26.3791C30.0278 26.7447 29.5399 26.95 29.0312 26.95H5.96875C5.46012 26.95 4.97216 26.7447 4.61227 26.3791C4.25234 26.0135 4.05 25.5174 4.05 25V9C4.05 7.92287 4.91035 7.05 5.96875 7.05Z' fill='%23110E2C' stroke='white' stroke-width='0.1'/%3E%3C/svg%3E%0A");
      }
    }

    &--shedule {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 29.1668C11.0666 29.1668 5.83331 23.9335 5.83331 17.5002C5.83331 11.0668 11.0666 5.8335 17.5 5.8335C23.9333 5.8335 29.1666 11.0668 29.1666 17.5002C29.1666 23.9335 23.9333 29.1668 17.5 29.1668ZM17.5 7.50016C11.9833 7.50016 7.49998 11.9835 7.49998 17.5002C7.49998 23.0168 11.9833 27.5002 17.5 27.5002C23.0166 27.5002 27.5 23.0168 27.5 17.5002C27.5 11.9835 23.0166 7.50016 17.5 7.50016Z' fill='%23110E2C'/%3E%3Cpath d='M21.3338 22.1667C21.1838 22.1667 21.0338 22.1308 20.9004 22.041L16.7334 19.3487C16.61 19.2688 16.5081 19.1556 16.4379 19.0202C16.3678 18.8848 16.3317 18.732 16.3334 18.5769V11.3974C16.3334 10.8949 16.7001 10.5 17.1668 10.5C17.6335 10.5 18.0002 10.8949 18.0002 11.3974V18.0744L21.7672 20.4974C21.9223 20.5998 22.0422 20.7539 22.1088 20.9363C22.1753 21.1187 22.1847 21.3195 22.1357 21.5082C22.0867 21.697 21.9819 21.8634 21.8372 21.9822C21.6925 22.101 21.5158 22.1658 21.3338 22.1667Z' fill='%23110E2C'/%3E%3C/svg%3E");
      }
    }

    &--phones {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='36' viewBox='0 0 35 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8835 21.0708L19.5167 21.9234C16.5667 20.4319 14.7449 18.7182 13.6845 16.0472L14.501 11.6347L12.9581 7.5H8.98053C7.78439 7.5 6.84275 8.49575 7.02195 9.68701C7.46733 12.6604 8.78223 18.0526 12.6241 21.9234C16.6589 25.9887 22.471 27.7526 25.6692 28.4545C26.9046 28.7248 28 27.7547 28 26.4801V22.651L23.8835 21.0708Z' stroke='%23110E2C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }

    & a {
      text-decoration-color: transparent;
    }
  }

  &__map {
    position: relative;
    height: 0;
    padding-bottom: 540px;
    border-radius: 10px;
    overflow: hidden;

    & iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  @include media-min ($md) {
    padding-top: 40px;
    padding-bottom: 80px;

    &--main {
      padding-top: 50px;
      padding-bottom: 10px;
    }

    &__map {
      padding-bottom: 680px;
    }
  }

  @include media-min ($xl) {
    padding-top: 65px;
    padding-bottom: 130px;

    &--main {
      padding-top: 50px;
      padding-bottom: 10px;
    }

    &__meta {
      margin-bottom: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      margin-bottom: 0;

      & a {
        transition: text-decoration-color .2s ease-in-out;

        &:hover {
          text-decoration-color: inherit;
        }
      }
    }
  }

  @include media-min ($xxl) {
    padding-top: 80px;
    padding-bottom: 160px;

    &--main {
      padding-top: 50px;
      padding-bottom: 10px;
    }

    &__title {
      margin-bottom: 60px;
    }

    &__meta {
      display: block;
      margin-bottom: 0;
    }

    &__item {
      margin-bottom: 20px;
    }
  }
}
