.review-item {
  width: 330px;
  padding: 20px;
  color: var(--theme-text);
  background-color: var(--light-blue);
  border-radius: 10px;

  &__meta {
    display: grid;
    grid-template-columns: 45px 1fr;
    column-gap: 15px;
    margin-bottom: 30px;
  }

  &__avatar {
    display: block;
    width: 45px;
    height: 45px;
  }

  &__author {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__date {
    opacity: 0.6;
  }

  &__rate {
    margin-bottom: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99799 14.3911L13.4563 16.4828C14.0897 16.8661 14.8647 16.2995 14.698 15.5828L13.7813 11.6495L16.8397 8.99948C17.398 8.51615 17.098 7.59948 16.3647 7.54115L12.3397 7.19948L10.7647 3.48281C10.4813 2.80781 9.51465 2.80781 9.23132 3.48281L7.65632 7.19115L3.63132 7.53281C2.89799 7.59115 2.59799 8.50781 3.15632 8.99115L6.21465 11.6411L5.29799 15.5745C5.13132 16.2911 5.90632 16.8578 6.53965 16.4745L9.99799 14.3911Z' fill='%23110E2C'/%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-position: left center;
    max-width: 100px;
    height: 20px;
  }

  @include media-min ($md) {
    width: 390px;
    padding: 30px;

    &__header {
      display: flex;
      justify-content: space-between;
    }
  }

  @include media-min ($xl) {
    width: auto;
  }
}
