.quiz-modal {
  position: relative;
  padding: 16px;
  padding-top: 30px;
  color: var(--theme-text);
  background-color: var(--light-blue);
  border-radius: 10px;
  max-width: 1590px;
  margin: 0 auto;
  overflow: hidden;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-text);
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__stepper {
    margin-bottom: 20px;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(30px);
    padding: 16px;

    &--hidden {
      display: none;
    }
  }

  &__control {
    min-width: auto;
    padding: 16px 32px;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    &.swiper-button-disabled,
    &.swiper-button-lock {
      cursor: not-allowed;
    }
  }

  &__slider-wrapper {
    align-items: center;
  }

  &__slide {
    margin-top: 20px;
  }

  &__scroll-content {
    @include custom-scroll;

    --scrollbar-thumb: var(--theme-text);
    --scrollbar: var(--theme-bg);

    overflow-y: auto;
    max-height: calc(100vh - 86px);
    padding-right: 4px;
  }

  &__slide-title {
    margin-bottom: 20px;
    text-align: center;

    &--final {
      display: grid;
      justify-items: center;
      row-gap: 24px;
      margin-bottom: 30px;

    }
  }

  &__checkbox-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 80px;
  }

  &__drop-zone {
    display: flex;
    justify-content: center;
    height: 320px;
    width: 100%;
    padding: 24px;
    padding-top: 125px;
    border-radius: 10px;
    color: #A09FAB;
    background-color: var(--theme-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23A09FAB' d='M8.71,7.71,11,5.41V15a1,1,0,0,0,2,0V5.41l2.29,2.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42l-4-4a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21l-4,4A1,1,0,1,0,8.71,7.71ZM21,12a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V13a1,1,0,0,0-2,0v6a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V13A1,1,0,0,0,21,12Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 70px center;
    background-size: 40px 40px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    border: 4px dashed transparent;

    &.is-on-drag {
      border-color: var(--accent);
      background-color: #ffecec;
    }

    & input {
      @include visually-hidden;
    }
  }

  &__file-status {
    pointer-events: none;
    text-align: center;
    user-select: none;
  }

  &__form {
    display: grid;
    row-gap: 15px;
    background-color: var(--theme-bg);
    padding: 35px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__form-title {
    text-align: center;
    margin-bottom: 5px;
  }

  &__input {
    border: 1px solid #EEEEEE;
  }


  @include media-min ($md) {
    padding: 30px;

    &__close {
      width: 36px;
      height: 36px;
    }

    &__stepper {
      margin-bottom: 30px;
    }

    &__control {
      padding: 16px 42px;

      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }

    &__scroll-content {
      max-height: calc(80vh - 86px);
    }

    &__slide-title {
      margin-bottom: 30px;

      &--final {
        display: grid;
        justify-items: center;
        row-gap: 24px;
        margin-bottom: 40px;
      }
    }

    &__checkbox-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }


    &__form {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      row-gap: 25px;
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 650px;
    }

    &__form-title {
      grid-column: span 2;
    }

    &__form-submit {
      grid-column: span 2;
    }
  }

  @include media-min ($xl) {
    padding: 30px 80px;

    &__stepper {
      margin: 0 auto;
      margin-bottom: 40px;
      max-width: 590px;
    }

    &__slide-title {
      margin-bottom: 40px;
    }

    &__checkbox-list {
      grid-template-columns: repeat(4, 1fr);
    }

    &__form {
      max-width: 690px;
    }
  }

  @include media-min ($xxl) {
    &__checkbox-list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
