.glassmorph {
  &__inner {
    display: inline-flex;
    font-size: 18px;
    padding: 12px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    max-width: 310px;
    text-align: left;

    &--starred {
      position: relative;
      padding: 25px 27px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 33px;
        height: 33px;
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2428 9.32725L28.7212 9.18204L28.2428 9.32726C28.3096 9.54727 28.426 9.74899 28.5832 9.91683L31.9385 13.5004C32.074 13.6451 32.1112 13.8561 32.0334 14.0384L30.106 18.5535C30.0158 18.7649 29.9753 18.9943 29.9878 19.2239L30.2547 24.1258C30.2655 24.3238 30.1583 24.5094 29.9815 24.599L25.6029 26.8188C25.3978 26.9228 25.2194 27.0725 25.0814 27.2564L22.1349 31.1831C22.0159 31.3416 21.8146 31.4149 21.6215 31.3699L16.8404 30.2559C16.6165 30.2037 16.3835 30.2037 16.1596 30.2559L11.3785 31.3699C11.1854 31.4149 10.9841 31.3416 10.8651 31.1831L7.91862 27.2564C7.78062 27.0725 7.60219 26.9228 7.39711 26.8188L3.01847 24.599C2.84168 24.5094 2.73453 24.3238 2.7453 24.1259L3.01217 19.2239C3.02467 18.9943 2.98422 18.7649 2.89396 18.5535L0.966616 14.0384C0.888799 13.8561 0.926014 13.6451 1.06149 13.5004L4.41683 9.91683C4.57398 9.74899 4.69044 9.54727 4.75722 9.32725L6.18301 4.62966C6.24057 4.43999 6.40474 4.30224 6.60153 4.27848L11.4753 3.69008C11.7036 3.66253 11.9225 3.58286 12.1151 3.45724L11.8419 3.03846L12.1151 3.45724L16.2268 0.775157C16.3928 0.666866 16.6072 0.666866 16.7732 0.775156L20.8849 3.45724L21.1581 3.03846L20.8849 3.45724C21.0775 3.58286 21.2964 3.66253 21.5247 3.69008L26.3985 4.27848C26.5953 4.30224 26.7594 4.43999 26.817 4.62966L28.2428 9.32725Z' stroke='white'/%3E%3Cpath d='M15.9537 10.3564C16.2857 10.1398 16.7143 10.1398 17.0463 10.3564L18.2167 11.1198C18.3451 11.2036 18.491 11.2567 18.6432 11.275L20.0305 11.4425C20.4241 11.49 20.7524 11.7656 20.8676 12.1449L21.2734 13.482C21.3179 13.6287 21.3956 13.7632 21.5003 13.8751L22.4554 14.8951C22.7264 15.1845 22.8008 15.6066 22.6452 15.9712L22.0966 17.2564C22.0364 17.3974 22.0094 17.5503 22.0177 17.7034L22.0937 19.0987C22.1153 19.4945 21.9009 19.8657 21.5474 20.045L20.301 20.6768C20.1643 20.7461 20.0453 20.846 19.9533 20.9686L19.1146 22.0863C18.8767 22.4033 18.4739 22.5499 18.0879 22.46L16.7269 22.1429C16.5776 22.1081 16.4224 22.1081 16.2731 22.1429L14.9121 22.46C14.5261 22.5499 14.1233 22.4033 13.8854 22.0863L13.0467 20.9686C12.9547 20.846 12.8357 20.7461 12.699 20.6768L11.4526 20.045C11.0991 19.8657 10.8847 19.4945 10.9063 19.0987L10.9823 17.7034C10.9906 17.5503 10.9636 17.3974 10.9034 17.2564L10.3548 15.9712C10.1992 15.6066 10.2736 15.1845 10.5446 14.8951L11.4997 13.8751C11.6044 13.7632 11.6821 13.6287 11.7266 13.482L12.1324 12.1449C12.2476 11.7656 12.5759 11.49 12.9695 11.4425L14.3568 11.275C14.509 11.2567 14.6549 11.2036 14.7833 11.1198L15.9537 10.3564Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: translate(-50%, -50%);
      }
    }

    &--contacts {
      flex-direction: column;
      max-width: none;

      & svg {
        margin-bottom: 10px;
      }

      & a {
        text-decoration-color: transparent;
      }
    }

    &--tick {
      position: relative;
      font-size: 15px;
      padding: 20px 12px;
      padding-left: 56px;
      max-width: none;

      &::before {
        content: '';
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29169 17.5002L14.5834 24.7918L29.1667 10.2085' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  @include media-min ($md) {
    &__inner {
      &--tick {
        font-size: 20px;
      }

      &--contacts {
        flex-direction: row;
        align-items: center;
        padding: 26px;

        & svg {
          flex-shrink: 0;
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
  }

  @include media-min ($xl) {
    &__inner {
      &--tick {
        font-size: 24px;
      }
    }
  }
}
