.service-tag {
  &__title {
    position: relative;
    display: inline-block;
    padding: 7px;
    padding-left: 41px;
    margin-bottom: 10px;
    font-weight: 600;
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
      content: '';
      position: absolute;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: var(--light-bg);
      border-radius: 5px;
    }

    &--wash-icon {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.48599 8.96519C3.65399 8.98519 3.82599 8.99819 3.99999 9.00019C4.78999 9.00919 5.53899 8.82219 5.99999 8.50019C6.46099 8.18019 7.20999 7.99319 7.99999 8.00019C8.78999 7.99319 9.53899 8.18019 9.99999 8.50019C10.461 8.82219 11.21 9.00919 12 9.00019C12.79 9.00919 13.539 8.82219 14 8.50019C14.461 8.18019 15.21 7.99319 16 8.00019C16.79 7.99319 17.539 8.18019 18 8.50019C18.461 8.82219 19.21 9.00919 20 9.00019C20.17 9.00019 20.339 8.98619 20.503 8.96619' stroke='url(%23paint0_linear_169_1332)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 6L4.721 16.329C4.79888 16.796 5.0399 17.2202 5.40118 17.5262C5.76245 17.8322 6.22056 18.0001 6.694 18H17.306C17.7794 18.0001 18.2375 17.8322 18.5988 17.5262C18.9601 17.2202 19.2011 16.796 19.279 16.329L21 6' stroke='url(%23paint1_linear_169_1332)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_169_1332' x1='3.48599' y1='9.0005' x2='3.60323' y2='7.00639' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F63853'/%3E%3Cstop offset='1' stop-color='%23FCC049'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_169_1332' x1='3' y1='18' x2='14.0769' y2='1.38462' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F63853'/%3E%3Cstop offset='1' stop-color='%23FCC049'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E ");
      }
    }

    &--clock-icon {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.35 12C1.35 17.8728 6.12716 22.65 12 22.65C17.8728 22.65 22.65 17.8728 22.65 12C22.65 6.12716 17.8728 1.35 12 1.35C6.12716 1.35 1.35 6.12716 1.35 12ZM3.15 12C3.15 7.11784 7.11784 3.15 12 3.15C16.8822 3.15 20.85 7.11784 20.85 12C20.85 16.8822 16.8822 20.85 12 20.85C7.11784 20.85 3.15 16.8822 3.15 12Z' fill='url(%23paint0_linear_169_255)' stroke='url(%23paint1_linear_169_255)' stroke-width='0.3'/%3E%3Cpath d='M15.0007 15.9L15 15.9C14.8433 15.9 14.6799 15.8652 14.5317 15.7729L10.7828 13.5236L10.7827 13.5236C10.6492 13.4433 10.539 13.3296 10.4631 13.1935C10.3874 13.0578 10.3484 12.9046 10.35 12.7492M15.0007 15.9L10.5 12.75M15.0007 15.9C15.1971 15.8991 15.3878 15.8342 15.544 15.7151C15.7002 15.596 15.8133 15.4293 15.8662 15.2401C15.919 15.051 15.9088 14.8498 15.837 14.667C15.7653 14.4842 15.6358 14.3297 15.4684 14.2271L15.4669 14.2262L12.15 12.2449M15.0007 15.9L12 12.33M10.35 12.7492C10.35 12.7489 10.35 12.7486 10.35 12.7483L10.5 12.75M10.35 12.7492V12.75H10.5M10.35 12.7492V6.75C10.35 6.24716 10.7472 5.85 11.25 5.85C11.7528 5.85 12.15 6.24716 12.15 6.75V12.2449M10.5 12.75V6.75C10.5 6.33 10.83 6 11.25 6C11.67 6 12 6.33 12 6.75V12.33M12.15 12.2449L12.0769 12.2012L12 12.33M12.15 12.2449V12.33H12' fill='url(%23paint2_linear_169_255)' stroke='url(%23paint3_linear_169_255)' stroke-width='0.3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_169_255' x1='1.5' y1='22.5' x2='22.5' y2='1.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F63853'/%3E%3Cstop offset='1' stop-color='%23FCC049'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_169_255' x1='1.5' y1='22.5' x2='22.5' y2='1.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F63853'/%3E%3Cstop offset='1' stop-color='%23FCC049'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_169_255' x1='10.5' y1='15.75' x2='18.6395' y2='11.3675' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F63853'/%3E%3Cstop offset='1' stop-color='%23FCC049'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_169_255' x1='10.5' y1='15.75' x2='18.6395' y2='11.3675' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F63853'/%3E%3Cstop offset='1' stop-color='%23FCC049'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }
}
