.footer-services-nav {
  &__link {
    display: inline-block;
    margin-bottom: 44px;
    text-decoration-color: transparent;
  }

  &__list {
    @include list-reset;

    & li {
      margin-bottom: 20px;
    }

    & a {
      text-decoration-color: transparent;
      opacity: 0.8;
    }
  }

  @include media-min ($md) {
    &__list {
      column-gap: 30px;
      column-count: 2;
      margin-bottom: 20px;
    }
  }

  @include media-min ($xl) {
    &__link {
      margin-bottom: 80px;
    }

    &__list {
      margin-bottom: 0;

      & a {
        transition: opacity .2s ease-in-out, text-decoration-color .2s ease-in-out;

        &:hover {
          text-decoration-color: inherit;
          opacity: 1;
        }
      }
    }
  }

  @include media-min ($xxl) {
    &__list {
      column-count: 3;
    }
  }
}
