.site-footer {
  padding-top: 50px;
  padding-bottom: 85px;
  color: var(--theme-text-inv);
  background-color: var(--theme-bg-inv);

  &__logo {
    margin-bottom: 40px;

    & img {
      max-width: 220px;
    }
  }

  &__site-nav {
    margin-bottom: 20px;
  }

  &__bottom {
    position: relative;
    padding-top: 40px;
    margin-top: 20px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: var(--theme-text-inv);
      opacity: .2;
    }
  }

  &__policy {
    padding: 28px 0;

    & a {
      text-decoration-color: transparent;
      opacity: 0.8;
    }
  }

  @include media-min ($md) {
    padding-top: 70px;
    padding-bottom: 70px;

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__bottom-wrapper {
      flex-grow: 1;
      margin-right: 30px;
    }

    &__policy {
      padding: 40px 0;
      text-align: right;
    }
  }

  @include media-min ($xl) {
    padding-top: 110px;
    padding-bottom: 120px;

    &__bottom {
      display: block;
      padding-top: 0;
      margin-top: 0;
      padding-left: 15px;

      &::after {
        left: -15px;
        right: auto;
        top: -110px;
        width: 1px;
        height: calc(100% + 230px);
      }
    }

    &__logo {
      margin-bottom: 80px;
    }

    &__policy {
      padding: 60px 0;
      text-align: left;

      & a {
        transition: opacity .2s ease-in-out, text-decoration-color .2s ease-in-out;

        &:hover {
          text-decoration-color: inherit;
          opacity: 1;
        }
      }
    }
  }
}