.about-main {
  padding-top: 40px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__cover {
    position: relative;
    color: var(--theme-text-inv);
    background-color: var(--theme-bg-inv);
    background-image: url('../img/default/about-main-cover.jpg');
    background-repeat: no-repeat;
    background-size: 750px auto;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &__cover-inner {
    position: relative;
  }

  &__cover-title {
    margin-bottom: 30px;
  }

  &__glassmorph-list {
    display: grid;
    row-gap: 10px;
  }

  @include media-min ($md) {
    padding-top: 50px;
    padding-bottom: 40px;

    &__cover {
      padding: 280px 60px 40px 30px;
      background-size: 1050px auto;
      background-position: left top -200px;
    }
  }

  @include media-min ($xl) {
    padding-bottom: 65px;

    &__title {
      margin-bottom: 60px;
    }

    &__cover {
      padding: 420px 190px 60px 60px;
      background-size: cover;
      background-position: left top -200px;
    }

    &__cover-title {
      margin-bottom: 40px;
    }

    &__glassmorph-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0;
      margin: -10px;

      & > * {
        margin: 10px;
      }
    }
  }

  @include media-min ($xxl) {
    padding-bottom: 80px;

    &__cover {
      padding-right: 140px;
      margin-bottom: 0;
    }
  }
}
